<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main_layout}" lang="fr">

<div layout:fragment="content" class="row">

// boucle fields
// condition type de fields field.type = editor.inputType
// avoka

</div>
</html>