<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main_layout}" lang="fr">

<div layout:fragment="content" class="row">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h1 class="text-center mb-4">Project successfully generated</h1>
                            <p class="text-center mb-4">Your project has been successfully created and is ready for use.</p>
                        </div>
                    </div>
</div>
</html>