<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6 offset-3">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">List de departement</h6>
                <table class="table">
                    <thead>
                    <tr>
                        [viewTableHeader] //mivadika inona
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" e: ">
                        [viewTableLine] //mivadika inona
                        <td>
                            <button data-bs-toggle="modal" th:class="'btn btn-primary '+" th:data-bs-target="'#modifiermodal'+()}"
                                    type="button">
                                <p><i class="bi bi-pencil"></i>Modifier</p>
                            </button>
                            <div aria-hidden="true" aria-labelledby="updateModalLabel" class="modal fade"
                                 tabindex="-1" th:id="'updateModal'+">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <form method="post" th:action="'/updatedepartement.do?indice_actu='+"> //atao
                                            inona indice actu, dia aiza izy no initialiser
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="updateModalLabel">Update
                                                    departement</h1>
                                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                        type="button"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input name="" th:value="()}" type="hidden">
                                                [viewUpdateFormField] //mivadika inona
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="submit">Validate</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <form method="post" th:action="'/deletedepartement.do?indice_actu='+"> //dia mbola le indice
                                sy actu ihany le blem
                                <input name="" th:value="()}" type="hidden">
                                <button th:class="'btn btn-danger '+" type="submit">
                                    <p><i class="bi bi-trash"></i>Delete</p>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a aria-label="Precedent" class="page-link" th:href="'/tocruddepartement.do?indice_actu='+">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                        <li th:class="'page-item '+"><a class="page-link"
                                                        th:href="'/tocruddepartement.do?indice_actu='+"><span
                                th:text=""></span></a></li>
                        <li class="page-item disabled page-active"><a class="page-link"><span th:text=""></span></a>
                        </li>
                        <li th:class="'page-item '+"><a class="page-link"
                                                        th:href="'/tocruddepartement.do?indice_actu='+"><span
                                th:text=""></span></a></li>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                        <li class="page-item">
                            <a aria-label="Suivant" class="page-link" th:href="'/tocruddepartement.do?indice_actu='+">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <button data-bs-target="#ajoutmodal" data-bs-toggle="modal" th:class="'btn btn-primary '+"
                        type="button">
                    <p><i class="bi bi-plus"></i>Add</p>
                </button>
                <p style="color: red;" th:text=""></p>
            </div>
        </div>
        <!-- Button modal ajout -->

        <!-- Modal Ajout -->
        <div aria-hidden="true" aria-labelledby="ajoutmodalLabel" class="modal fade" id="ajoutmodal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form method="post" th:action="'/insertdepartement.do?indice_actu='+">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ajoutmodalLabel">Add a departement</h1>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">
                            [viewInsertFormField] //mivadika inona
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Validate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
