<!DOCTYPE html>
<html
        class="light-style layout-menu-fixed"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        data-theme="theme-default"
        dir="ltr"
        lang="en"

        th:href="@{/assets/}"
        xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"

>
<head>
    <meta charset="utf-8"/>
    <meta
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
            name="viewport"
    />

    <meta content="" name="description"/>

    <!-- Favicon -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect"/>

    <!-- Icons. Uncomment required icon fonts -->
    <link href="/assets/vendor/fonts/boxicons.css" rel="stylesheet"
          th:href="@{/assets/vendor/fonts/boxicons.css}"/>


    <!-- Core CSS -->
    <link class="template-customizer-core-css" href="/assets/vendor/css/core.css"
          rel="stylesheet" th:href="@{/assets/vendor/css/core.css}"/>
    <link class="template-customizer-theme-css" href="/assets/vendor/css/theme-default.css"
          rel="stylesheet" th:href="@{/assets/vendor/css/theme-default.css}"/>
    <link href="/assets/css/demo.css" rel="stylesheet"
          th:href="@{/assets/css/demo.css}"/>


    <!-- Vendors CSS -->
    <link href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet"
          th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}"/>

    <link href="/assets/vendor/libs/apex-charts/apex-charts.css" rel="stylesheet"
          th:href="@{/assets/vendor/libs/apex-charts/apex-charts.css}"/>


    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"
            th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"
            th:src="@{/assets/js/config.js}"></script>


    <title>layout1</title>

</head>
<body>
<script src="../../static/assets/static/js/initTheme.js" th:src="@{/assets/static/js/initTheme.js}"></script>

<div class="layout-page">
    <div class="layout-container">
        <!-- MENU -->
        <div th:replace="~{templs/menu :: layout-menu}"></div>
        <!-- -->


        <!-- CONTENT -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <section class="section">
                <div layout:fragment="content">
                </div>
            </section>
        </div>
        <!-- End Content -->

    </div>
</div>

<!-- Core JS -->
<script src="/assets/vendor/libs/jquery/jquery.js"
        th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script src="/assets/vendor/libs/popper/popper.js"
        th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script src="/assets/vendor/js/bootstrap.js"
        th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"
        th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

<script src="/assets/vendor/js/menu.js"
        th:src="@{/assets/vendor/js/menu.js}"></script>


<!-- endbuild -->

<!-- Vendors JS -->
<script src="/assets/vendor/libs/apex-charts/apexcharts.js"
        th:src="@{/assets/vendor/libs/apex-charts/apexcharts.js}"></script>


<!-- Main JS -->
<script src="/assets/js/main.js"
        th:src="@{/assets/js/main.js}"></script>


<!-- Page JS -->
<script src="/assets/js/dashboards-analytics.js"
        th:src="@{/assets/js/dashboards-analytics.js}"></script>


<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
