${namespace} ${package}${namespaceStart}

${imports}
${controllerAnnotations}${classKeyword} ${controllerName} ${extends} ${bracketStart}
    [fields][constructors]
    [methods]${bracketEnd}
${namespaceEnd}