${namespace} ${package}${namespaceStart}

${imports}
${classAnnotations}${classKeyword} ${majStart(className)} ${extends} ${bracketStart}
${fields}${constructors}
${getSets}${bracketEnd}
${namespaceEnd}