package com.${lowerCase(projectName)}.repositories;

import org.springframework.data.repository.JpaRepository;

public interface ${majStart(className)}Repository extends JpaRepository<${majStart(className)},${pkColumnType}> {
}